*{margin:0;padding:0}
body{background:#E8483F;text-align:center;margin-bottom:100px}
.tble{text-align:center}
.three{float:left;margin-top:390px}
.n{float:right;margin-top:390px}
.1{text-align:center}
